Repository usagi-f/usagi-sandbox-lib: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run tslint:lint-staged, npm run stylelint:fix

fix style format
  src/components/Avatar/style.css
  src/components/Button/style.css
Due: prettier --write, npm run stylelint:fix

add env file
  app/.env
Due: none

remove useless cli
  package.json
  rollup.config.js
Due: prettier --write, npm run tslint:lint-staged

move app directory
  app/create-react-app/.env
  app/create-react-app/.gitignore
  app/create-react-app/README.md
  app/create-react-app/package.json
  app/create-react-app/public/favicon.ico
  app/create-react-app/public/index.html
  app/create-react-app/public/manifest.json
  app/create-react-app/src/App.tsx
  app/create-react-app/src/index.css
  app/create-react-app/src/index.tsx
  app/create-react-app/src/react-app-env.d.ts
  app/create-react-app/src/serviceWorker.ts
  app/create-react-app/tsconfig.json
  app/create-react-app/yarn.lock
  app/src/index.css
Due: prettier --write, npm run tslint:lint-staged, npm run stylelint:fix

add storybook app
  app/storybook/.storybook/addons.ts
  app/storybook/.storybook/config.ts
  app/storybook/.storybook/webpack.config.js
  app/storybook/package-lock.json
  app/storybook/package.json
  app/storybook/stories/index.stories.tsx
Due: prettier --write, npm run tslint:lint-staged

add with info in storybook
  app/storybook/.storybook/config.ts
  app/storybook/.storybook/webpack.config.js
  app/storybook/package-lock.json
  app/storybook/package.json
  app/storybook/stories/index.stories.tsx
  app/storybook/stories/wrapper.tsx
  src/components/Avatar/style.css
Due: prettier --write, npm run tslint:lint-staged, npm run stylelint:fix

update exclude test files
  tsconfig.json
Due: none

update npm command
  package.json
Due: none

add jest snapshot test
  package-lock.json
  package.json
  src/components/Avatar/Avatar.test.tsx
  src/components/Avatar/__snapshots__/Avatar.test.tsx.snap
  src/components/Button/Button.test.tsx
  src/components/Button/__snapshots__/Button.test.tsx.snap
Due: prettier --write, npm run tslint:lint-staged

update directory structure
  app/create-react-app/yarn.lock
  example/.env
  example/.gitignore
  example/README.md
  example/package-lock.json
  example/package.json
  example/public/favicon.ico
  example/public/index.html
  example/public/manifest.json
  example/src/App.tsx
  example/src/index.css
  example/src/index.tsx
  example/src/react-app-env.d.ts
  example/src/serviceWorker.ts
  example/tsconfig.json
  storybook/.storybook/addons.ts
  storybook/.storybook/config.ts
  storybook/.storybook/webpack.config.js
  storybook/package-lock.json
  storybook/package.json
  storybook/stories/index.stories.tsx
  storybook/stories/wrapper.tsx
Due: prettier --write, npm run tslint:lint-staged, npm run stylelint:fix

update readme example app
  example/README.md
Due: none

fix storybook dir
  storybook/README.md
  storybook/package.json
  storybook/stories/components/Avatar/index.stories.tsx
  storybook/stories/components/Button/index.stories.tsx
  storybook/stories/wrapper.tsx
Due: prettier --write, npm run tslint:lint-staged

update to use webpack
  .gitignore
  package-lock.json
  package.json
  rollup.config.js
  tsconfig.json
  webpack.config.ts
Due: prettier --write, npm run tslint:lint-staged

add externals option
  webpack.config.ts
Due: prettier --write, npm run tslint:lint-staged

update storybook in root dir
  .babelrc.js
  .storybook/addons.ts
  .storybook/config.ts
  .storybook/webpack.config.ts
  package-lock.json
  package.json
  stories/components/Avatar/index.stories.tsx
  stories/components/Button/index.stories.tsx
Due: prettier --write, npm run tslint:lint-staged

fix files in storybook dir
  src/components/Avatar/Avatar.stories.tsx
  src/components/Button/Button.stories.tsx
  storybook/.storybook/addons.ts
  storybook/.storybook/config.ts
  storybook/.storybook/webpack.config.js
  storybook/README.md
  storybook/package-lock.json
  storybook/package.json
Due: prettier --write, npm run tslint:lint-staged

update storybook
  .babelrc.js
  .storybook/addons.ts
  .storybook/config.ts
  .storybook/tsconfig.json
  .storybook/webpack.config.ts
  package-lock.json
  package.json
  src/components/Avatar/Avatar.stories.tsx
  src/components/Button/Button.stories.tsx
  storybook/.storybook/config.ts
  storybook/.storybook/webpack.config.js
  storybook/README.md
  storybook/package-lock.json
  storybook/package.json
Due: prettier --write, npm run tslint:lint-staged

update theming by context api
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.tsx
  src/components/Button/index.tsx
  src/components/Button/style.css
  src/components/Button/style_dark.css
  src/components/Button/style_dark.css.d.ts
  src/context/index.ts
  src/context/index.tsx
Due: prettier --write, npm run tslint:lint-staged, npm run stylelint:fix

add storyshots
  .storybook/config.ts
  .storybook/storyshots.test.js
  babel.config.js
  package-lock.json
  package.json
  src/components/Avatar/Avatar.test.tsx
  src/components/Avatar/__snapshots__/Avatar.test.tsx.snap
  src/components/Button/Button.test.tsx
  src/components/Button/__snapshots__/Button.test.tsx.snap
  tsconfig.json
Due: prettier --write, npm run tslint:lint-staged

update multiple snapshot
  .storybook/config.ts
  .storybook/storyshots.test.js
  src/components/Avatar/__snapshots__/Avatar.stories.storyshot
  src/components/Button/__snapshots__/Button.stories.storyshot
Due: prettier --write, npm run tslint:lint-staged

update variables name syntax
  example/src/App.tsx
  rollup.config.js
  src/variables/index.ts
Due: prettier --write, npm run tslint:lint-staged

fix variables
  rollup.config.js
Due: prettier --write, npm run tslint:lint-staged

update monorepo by lerna
  .gitignore
  config/jest.config.js
  lerna.json
  package.json
  packages/context/README.md
  packages/context/package-lock.json
  packages/context/package.json
  packages/context/rollup.config.js
  packages/context/src/index.ts
  packages/context/tsconfig.json
  packages/core/README.md
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/rollup.config.js
  packages/core/src/Avatar/Avatar.test.tsx
  packages/core/src/Avatar/Avatar.tsx
  packages/core/src/Avatar/__snapshots__/Avatar.test.tsx.snap
  packages/core/src/Avatar/index.tsx
  packages/core/src/Avatar/style.css
  packages/core/src/Avatar/style.css.d.ts
  packages/core/src/Button/Button.test.tsx
  packages/core/src/Button/Button.tsx
  packages/core/src/Button/__snapshots__/Button.test.tsx.snap
  packages/core/src/Button/index.tsx
  packages/core/src/Button/style.css
  packages/core/src/Button/style.css.d.ts
  packages/core/src/index.ts
  packages/core/tsconfig.json
  packages/variables/README.md
  packages/variables/package-lock.json
  packages/variables/package.json
  packages/variables/rollup.config.js
  packages/variables/src/index.ts
  packages/variables/tsconfig.json
  src/index.ts
  tsconfig.json
Due: prettier --write, npm run tslint:lint-staged, npm run stylelint:fix

support output css
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/rollup.config.js
Due: prettier --write, npm run tslint:lint-staged

update example app
  example/package-lock.json
  example/package.json
  example/src/App.tsx
  example/src/index.tsx
  packages/core/css/index.css
  packages/core/package.json
Due: prettier --write, npm run tslint:lint-staged, npm run stylelint:fix

v1.0.0
  lerna.json
  packages/context/package.json
  packages/core/package.json
  packages/variables/package.json
Due: none

update package.json
  packages/context/package.json
  packages/core/package.json
  packages/variables/package.json
Due: none

v1.1.0
  lerna.json
  packages/context/package.json
  packages/core/package.json
  packages/variables/package.json
Due: none

update readme
  packages/core/README.md
Due: none

v1.2.0
  lerna.json
  packages/core/package.json
Due: none

update package name
  packages/context/package.json
  packages/core/package.json
  packages/variables/package.json
Due: none

v1.3.0
  lerna.json
  packages/context/package.json
  packages/core/package.json
  packages/variables/package.json
Due: none

fix dependence between each package
  packages/context/package-lock.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/variables/package-lock.json
  packages/variables/package.json
Due: none

v1.4.0
  lerna.json
  packages/context/package.json
  packages/core/package.json
  packages/variables/package.json
Due: none

fix resolve dependence path
  example/package-lock.json
  example/package.json
  example/src/App.tsx
  example/src/index.tsx
  packages/core/rollup.config.js
  packages/core/src/Button/Button.tsx
  packages/core/src/Button/index.tsx
Due: prettier --write, npm run tslint:lint-staged

v1.4.1
  lerna.json
  packages/core/package.json
Due: none

fix provide css fir
  packages/core/package.json
Due: none

v1.4.2
  lerna.json
  packages/core/package.json
Due: none

update npm script
  package.json
  packages/context/package-lock.json
  packages/core/package-lock.json
  packages/variables/package-lock.json
Due: none

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.css)
  npm run tslint:lint-staged: any of: *.{js,jsx,ts,tsx}
  npm run stylelint:fix: any of: *.css
